<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Penyimpanan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="text-center mb-5">Edit Penyimpanan</h1>
        <div class="row">
            <div class="col">
                <a href="/penyimpanan" class="btn btn-sm btn-danger">Kembali</a>
                <form action="/penyimpanan/update/<%= id %>" method="POST">
                    <div class="mb-3">
                        <label for="nama_penyimpanan" class="form-label">Nama Penyimpanan:</label>
                        <input type="text" class="form-control" name="nama_penyimpanan" value="<%= nama %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="kode_penyimpanan" class="form-label">Kode Penyimpanan:</label>
                        <input type="number" class="form-control" name="kode_penyimpanan" value="<%= kode %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_ruangan" class="form-label">ID Ruangan:</label>
                        <select class="form-select" aria-label="Pilih Ruangan" name="id_ruangan" required>
                            <option selected>Pilih Ruangan</option>
                            <% for(var i=0; i < data.length; i++){ %>
                                    <option value="<%= data[i].id_ruangan %>" selected><%= data[i].nama_ruangan %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
